# SP56 board configuration

# Copyright (c) 2020 Eric Lau
# SPDX-License-Identifier: MIT

config BOARD_MS75_V1_LEFT
    bool "Mystery_75 Left"
    depends on SOC_NRF52840_QIAA
    select BOARD_MS75_V1_LEFT

config BOARD_MS75_V1_RIGHT
    bool "Mystery_75 Right"
    depends on SOC_NRF52840_QIAA
    select BOARD_MS75_V1_RIGHT
