#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                                  &kp ESC         &kp F1        &kp F2        &kp F3     &kp F4  &kp F5     &kp F6  &kp F7         &kp F8                     &kp F9     &kp F10     &kp F11           &kp F12            &kp K_MUTE
&bt BT_SEL 0     &bt BT_SEL 1     &kp GRAVE       &kp N1        &kp N2        &kp N3     &kp N4  &kp N5     &kp N6  &kp N7         &kp N8     &kp N9          &kp N0     &kp MINUS   &kp EQUAL         &kp BACKSPACE                     &kp PG_UP
&bt BT_SEL 2     &bt BT_SEL 3     &kp TAB         &kp Q         &kp W         &kp E      &kp R              &kp T   &kp Y          &kp U      &kp I           &kp O      &kp P       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &kp PAGE_UP
&bt BT_SEL 4     &bt BT_CLR       &kp CAPS        &kp A         &kp S         &kp D      &kp F              &kp G   &kp H                     &kp J           &kp K      &kp L       &kp SEMICOLON     &kp SQT            &kp ENTER      &kp DEL
&rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &kp LEFT_SHIFT  &kp Z         &kp X         &kp C      &kp V              &kp B   &kp N                     &kp M           &kp COMMA  &kp PERIOD  &kp SLASH         &kp RIGHT_SHIFT    &kp UP         &kp PRINTSCREEN
&out OUT_USB     &out OUT_BLE     &kp RCTRL       &kp LEFT_WIN  &kp LEFT_ALT  &kp SPACE  &mo 1   &kp SPACE  &mo 1   &kp RIGHT_WIN  &kp RCTRL  &kp LEFT_ARROW  &kp DOWN   &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        rgb_layer {
            bindings = <
                     &kp N1  &kp N1  &kp N1        &kp N1           &kp N1  &kp N1  &kp N1  &kp N1  &kp N1                   &kp N1           &kp N1           &kp N1  &kp N1      &bootloader
&bootloader  &kp N1  &kp N1  &kp N1  &kp N1        &kp N1           &kp N1  &kp N1  &kp N1  &kp N1  &kp N1  &kp N1           &kp N1           &kp N1           &kp N1  &kp N1                       &kp HOME
&kp N1       &kp N1  &kp N1  &kp N1  &kp N1        &kp N1           &kp N1          &kp N1  &kp N1  &kp N1  &kp N1           &kp N1           &kp N1           &kp N1  &kp N1      &kp K_POWER      &kp END
&kp N1       &kp N1  &kp N1  &kp N1  &kp N1        &kp N1           &kp N1          &kp N1  &kp N1          &kp N1           &kp N1           &kp N1           &kp N1  &kp N1      &kp F13          &rgb_ug RGB_ON
&kp N1       &kp N1  &kp N1  &kp N1  &kp N1        &kp N1           &kp N1          &kp N1  &kp N1          &kp N1           &kp N1           &kp N1           &kp N1  &sys_reset  &rgb_ug RGB_BRI  &rgb_ug RGB_OFF
&kp N1       &kp N1  &kp N1  &kp N1  &kp LEFT_WIN  &kp PRINTSCREEN  &kp N1  &kp N1  &kp N1  &none   &none   &rgb_ug RGB_SPD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_2 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
